@charset "UTF-8";

@font-face {
  font-family: 'MuseFont';
  src: url('../fonts/NeueFrutigerComBlack.woff');
  src: local('Muse Font'), local('Muse'), url('../fonts/NeueFrutigerComBlack.otf') format('truetype');
}

/* Logos */
.muse {
  font-family: 'MuseFont', Arial, sans-serif;
  font-size: 57px;
  padding: 8px 0;
}

.muse-sm {
  font-family: 'MuseFont', Arial, sans-serif;
  font-size: 14px;
}

/* Navbar */
.navbar-custom {
  margin-bottom: 0;
  border: none;
}
.burger-custom {
  border: 1px solid #fff;
  border-radius: 0;
}
.burger-custom span {
  background-color: #337ab7;
}
.dropdown-menu-custom {
  margin: 7.5px 0 0.4em;
  text-align: right;
  min-width: 100%;
  border-radius: 0;
}

.dropdown-menu-custom > li > a {
  color: #337ab7;
}


body {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: normal;
  color: white;
}

.whitestripes-lg {
  border-top: 8px solid white;
  border-bottom: 8px solid white;
}

.whitestripes {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

// Utils

.mb-0 {
  margin-bottom: 0;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-50 {
  margin-bottom: 50px;
}

.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-70 {
  margin-top: 70px;
}

.m-0 {
  margin: 0;
}
.m-10 {
  margin: 10px;
}
.ml-0 {
  margin-left: 0px;
}
.mr-0 {
  margin-right: 0px;
}

.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pb-10 {
  padding-bottom: 10px;
}

/*  NG CONTROLS  */
.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

/* Main Background */
#bg {
  position: fixed;
  z-index: -999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
img {
  vertical-align: bottom;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}

/* Media Queries */

@media(max-width: 750px) {
  #bg img {
    display: inline;
    width: auto;
    height: 100%;
  }
  
}

@media(min-width: 751px) {
  #bg img {
    width: 100%;
    height: auto;
  }
}

/* Main */
#main {
  background-color: rgba(21,21,21, 0.9);
}

/* Buttons */
.btn-custom {
  border-radius: 0px;
  border-color: #646464;
  margin: 0.8em 0;
  text-transform: uppercase;
  background-color: #646464;
  color: #fff;
}

/* Inputs */
.input-custom {
  border-radius: 0px;
}

/* Blocks */
.block {
  background-color: #646464;
  padding: 15px;
  margin: 0 0 20px 0;
}

/* Home */
.home, .welcome {
  padding-bottom: 0.8em;
}

