<header>
<nav class="navbar navbar-custom">
  <div (click)="$event.preventDefault()">
    <div class="navbar navbar-custom">
      <div class="navbar-header" dropdown>
        <button id="single-button" type="button" class="navbar-toggle burger-custom" dropdownToggle>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="dropdown-menu-custom dropdown-menu nav navbar-nav text-right container" role="menu" aria-labelledby="single-button">
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['Register']">HOME</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['Home']">ALBUMS</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['Home']">SONGS</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['Home']">PERFORMANCES</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['Home']">LOG OUT</a></li>
        </ul>
        <div class="muse-sm navbar-brand"><span class="whitestripes">MUSE</span></div>
      </div>
    </div>
  </div>
</nav>
</header>