<header>
<nav class="navbar navbar-custom">
  <div>
    <div class="navbar navbar-custom">
      <div class="navbar-header">
        <button type="button" (click)="toggle()" class="navbar-toggle burger-custom">
          <span class="sr-only">Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="muse-sm navbar-brand"><span class="whitestripes">MUSE</span></div>
      </div>
    </div>
    <div [collapse]="isCollapsed">
      <ul class="nav navbar-nav text-right container">
        <li><a [routerLink]="['Register']">HOME</a></li>
        <li><a [routerLink]="['Home']">ALBUMS</a></li>
        <li><a [routerLink]="['Home']">SONGS</a></li>
        <li><a [routerLink]="['Home']">PERFORMANCES</a></li>
        <li><a [routerLink]="['Home']">LOG OUT</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>